*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    gap: 50px;
}
.forma{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: rgb(131, 111, 111);
    padding: 20px 50px;
    border-radius: 10px;
    color: rgb(102, 196, 186);
}
input{
    height: 50px;
}